body{
    background-image:
    url('elsuper.png');
    background-repeat: no-repeat;
    background-size: 145vw;
}

#ml{
	margin-top:-12px;
	margin-left: -58px;
	font-size: 40px;
	width: 128px;
	height: 70px;
	background-image: url('TBmls.png');
	background-size: contain;
	background-repeat: no-repeat;
    background-position: center;
	transform: translate3d(0px, 0px, 0px);
}

#cab{
	position: fixed;
	height: 77px;
	background-color: rgb(0, 0, 0);
	width: 98.1vw;
	z-index: 10;
	border: 6px solid #ffffff;
	z-index: 11;


}

#cab::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
	background-image: url(caca.gif);
	opacity: 0.4;

  }

#desc {
	padding-top: 70px;
	margin-left: auto;
	margin-right: auto;
	list-style-type: none;
  	width:1100px;
  	height:1210px;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.795);
    border: 10px solid #ffffff;
	box-shadow: 5px -5px 5px 5px 2px black;
	}

#cuadradostxt {
	float: left;
	border: 0px solid #2e1705;
    margin-top: 30px;
	margin-left: 30px;
	margin-right: 30px;
	width: 94%;
	height: 24%;
	background-color: rgba(0, 0, 0, 0.199);
	border: 5px solid #ffffff;
	color:#ffffff;
	word-wrap: break-word;
	font-size: 25px;
	text-align: left;
}

#pg{
float: left;
margin-left: 20px;
margin-top: 7px;
border: 10px solid rgba(255, 255, 255, 0);
}

#cuadradostxt2 {
	float: left;
	border: 0px solid #2e1705;
    margin-top: 30px;
	margin-left: 30px;
	margin-right: 30px;
	width: 94%;
	height: 24%;
	background-color: rgba(0, 0, 0, 0.199);
	border: 5px solid #ffffff;
	color:#ffffff;
	word-wrap: break-word;
	font-size: 25px;
	text-align: left;
}

#cuadradostxt3 {
	float: left;
	border: 0px solid #2e1705;
    margin-top: 30px;
	margin-left: 30px;
	margin-right: 30px;
	width: 94%;
	height: 24%;
	background-color: rgba(0, 0, 0, 0.199);
	border: 5px solid #ffffff;
	color:#ffffff;
	word-wrap: break-word;
	font-size: 25px;
	text-align: left;
}

#bu{

	width: 1000vw;
	height: 1000vh;

}